<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Tech Blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.techblog.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.techblog.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.techblog.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editprofile</display-name>
    <servlet-name>editprofile</servlet-name>
    <servlet-class>com.techblog.servlet.editprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editprofile</servlet-name>
    <url-pattern>/editprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateprofile</display-name>
    <servlet-name>updateprofile</servlet-name>
    <servlet-class>com.techblog.servlet.updateprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateprofile</servlet-name>
    <url-pattern>/updateprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpost</display-name>
    <servlet-name>addpost</servlet-name>
    <servlet-class>com.techblog.servlet.addpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpost</servlet-name>
    <url-pattern>/addpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpostServlet</display-name>
    <servlet-name>addpostServlet</servlet-name>
    <servlet-class>com.techblog.servlet.addpostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpostServlet</servlet-name>
    <url-pattern>/addpostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletpost</display-name>
    <servlet-name>deletpost</servlet-name>
    <servlet-class>com.techblog.servlet.deletpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletpost</servlet-name>
    <url-pattern>/deletpost</url-pattern>
  </servlet-mapping>
</web-app>